<!--------------------START - Mobile Menu-------------------->
<div class="menu-mobile menu-activated-on-click color-scheme-dark">
  <div class="mm-logo-buttons-w">
      <span>Poly-Forum</span>
    <div class="mm-buttons">
      <div class="content-panel-open">
        <div class="os-icon os-icon-grid-circles"></div>
      </div>
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>


  <div class="menu-and-user">
    <div class="logged-user-w">
      <div class="avatar-w"><img alt="" src="assets/img/avatar1.jpg"></div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">firstName lastName</div>
        <div class="logged-user-role">(---Role---)</div>

      </div>
    </div>


    <!--------------------
START - Mobile Menu List
-------------------->
    <ul class="main-menu">

      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-layers"></div>
          </div><span>Publications:</span></a>
        <ul class="sub-menu">
          <li><a >Liste des Publications</a></li>
          <li><a >Ajouter une publication</a></li>
        </ul>
      </li>



      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Départements:</span></a>
        <ul class="sub-menu">
          <li><a >Liste des Départements</a></li>
          <li><a >Ajouter un Département</a></li>
        </ul>
      </li>

      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Groupes:</span></a>
        <ul class="sub-menu">
          <li><a >Liste des Groupes</a></li>
          <li><a >Ajouter un Groupe</a></li>
        </ul>
      </li>


      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-users"></div>
          </div><span>Enseignants:</span></a>
        <ul class="sub-menu">
          <li><a >Consulter liste des Enseignants</a></li>
        </ul>
      </li>




      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-users"></div>
          </div><span>Etudiants:</span></a>
        <ul class="sub-menu">
          <li><a >Consulter liste des Etudiants</a></li>
        </ul>
      </li>


      <li class=" has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Administrateurs</span></a>
        <div class="sub-menu-w">
          <div class="sub-menu-icon"><i class="os-icon os-icon-file-text"></i></div>
          <div class="sub-menu-i">
            <ul class="sub-menu">
              <li><a >Liste des Administrateurs</a></li>
              <li><a >Ajouter un Administrateur</a></li>
            </ul>

          </div>
        </div>
      </li>


      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Résultats:</span></a>
        <ul class="sub-menu">
          <li><a >Envoyer résultat</a></li>
          <li><a >Consulter résultats</a></li>
        </ul>
      </li>



      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-mail-07"></div>
          </div><span>Discussion:</span></a>
        <ul class="sub-menu">
          <li><a >Consulter Discussions</a></li>
        </ul>
      </li>


      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Actualités:</span></a>
        <ul class="sub-menu">
          <li><a >Consulter Actualités</a></li>
        </ul>
      </li>


      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Résultat:</span></a>
        <ul class="sub-menu">
          <li><a >Consulter Résultat</a></li>
        </ul>
      </li>



      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Forum & Cours:</span></a>
        <ul class="sub-menu">
          <li><a >Consulter</a></li>
        </ul>
      </li>


      <li class="has-sub-menu">
        <a >
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Gérer Cours:</span></a>
      </li>

    </ul>
  </div>
</div>
<!--------------------END - Mobile Menu-------------------->
<div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="menu-w color-scheme-light color-style-transparent menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover menu-has-selected-link">
  <div class="logo-w">
    <a class="logo" routerLink="/home/moduleDocs/consulterActualités" >
      <img alt="" src="assets/img/polypoly.png">
      <div class="logo-label">Poly-Forum</div>
    </a>


  </div>
  <div class="logged-user-w avatar-inline">
    <div class="logged-user-i">
      <div *ngIf="!isProf && !isUser" class="avatar"><img alt="" src="assets/img/admin.png" width="70px"></div>
      <div *ngIf="isProf || isUser" class="avatar-w"><img alt="" src="assets/Uploads/images/{{GetInfo.photo}}" width="60px"></div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">{{GetInfo.firstName}} {{GetInfo.lastName}}</div>
        <div class="logged-user-role text-center">{{GetInfo.usertype}}</div>
      </div>
    </div>
  </div>



  <ul class="main-menu" *ngIf="!isProf && !isUser">

    <li class=" has-sub-menu" >
      <a routerLink="/home/moduleAdministrateur/UpdatePublications" >
        <div class="icon-w">
          <div class="os-icon os-icon-layers"></div>
        </div><span>Publications</span></a>
    </li>


    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleAdministrateur/UpdateDepartments" >
        <div class="icon-w">
          <div class="os-icon os-icon-hierarchy-structure-2"></div>
        </div><span>Départements</span></a>
    </li>

    <br>

    <li class=" has-sub-menu">
      <a routerLink="/home/moduleAdministrateur/UpdateGroups">
        <div class="icon-w">
          <div class="os-icon os-icon-file-text"></div>
        </div><span>Groupes</span></a>
    </li>

    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleAdministrateur/UpdateProfAccount" >
        <div class="icon-w">
          <div class="os-icon os-icon-users"></div>
        </div><span>Enseignants</span></a>
      <div class="sub-menu-w">
        <div class="sub-menu-icon"><i class="os-icon os-icon-users"></i></div>
        <div class="sub-menu-i">
        </div>
      </div>
    </li>

    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleAdministrateur/UpdateStudentAccount" >
        <div class="icon-w">
          <div class="os-icon os-icon-users"></div>
        </div><span>Etudiants</span></a>
      <div class="sub-menu-w">
        <div class="sub-menu-icon"><i class="os-icon os-icon-users"></i></div>
        <div class="sub-menu-i">
        </div>
      </div>
    </li>


    <br>

    <li class=" has-sub-menu">
      <a routerLink="/home/moduleAdministrateur/consulterAdmin" >
        <div class="icon-w">
          <div class="os-icon os-icon-user-male-circle2"></div>
        </div><span>Administrateurs</span></a>
    </li>

    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleAdministrateur/EnvoyerResultat" >
      <div class="icon-w">
          <div class="os-icon os-icon-mail-18"></div>
        </div><span>Envoyer Résultat</span></a>
    </li>

    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleocussion/consulterMessage">
        <div class="icon-w">
          <div class="os-icon os-icon-mail-07"></div>
        </div><span>Discussion <strong class="badge badge-danger">New</strong></span></a>
    </li>

    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleActualite/ConsulterActualite">
        <div class="icon-w">
          <div class="os-icon os-icon-window-content"></div>
        </div><span>Actualités <strong class="badge badge-danger">New</strong></span></a>
      <div class="sub-menu-w">
        <div class="sub-menu-icon"><i class="os-icon os-icon-package"></i></div>
      </div>
    </li>

    <br>


    <li class=" has-sub-menu">
      <a routerLink="/home/moduleEtudiant/consulterResultat" *ngIf="isUser">
        <div class="icon-w">
          <div class="os-icon os-icon-tasks-checked"></div>
        </div><span>Consulter Résultat <strong class="badge badge-danger">New</strong></span></a>
    </li>


  </ul>

    <ul class="main-menu" id="UserForm" *ngIf="isUser">

      <li class=" has-sub-menu">
        <a routerLink="/home/moduleocussion/consulterMessage">
          <div class="icon-w">
            <div class="os-icon os-icon-mail-07"></div>
          </div><span>Discussion <strong class="badge badge-danger">New</strong></span></a>
      </li>
<br>

      <li class=" has-sub-menu">
        <a routerLink="/home/moduleActualite/ConsulterActualite">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div><span>Actualités <strong class="badge badge-danger">New</strong></span></a>
        <div class="sub-menu-w">
          <div class="sub-menu-icon"><i class="os-icon os-icon-package"></i></div>
        </div>
      </li>
      <br>

      <li class=" has-sub-menu">
        <a routerLink="/home/moduleEtudiant/consulterResultat">
          <div class="icon-w">
            <div class="os-icon os-icon-tasks-checked"></div>
          </div><span>Consulter Résultat <strong class="badge badge-danger">New</strong></span></a>
      </li>
      <br>
      <li class=" has-sub-menu">
      <a routerLink="/home/moduleEtudiant/consulterCours">
        <div class="icon-w">
          <div class="os-icon os-icon-agenda-1"></div>
        </div><span>Forum & Cours <strong class="badge badge-danger">New</strong></span></a>
      <div class="sub-menu-w">
        <div class="sub-menu-icon"><i class="os-icon os-icon-package"></i></div>
      </div>
    </li>
      <br>


    </ul>

    <ul class="main-menu" id="ProfForm" *ngIf="isProf">


      <li class=" has-sub-menu">
        <a routerLink="/home/moduleocussion/consulterMessage">
          <div class="icon-w">
            <div class="os-icon os-icon-mail-07"></div>
          </div><span>Discussion <strong class="badge badge-danger">New</strong></span></a>
      </li>

      <br>


      <li class=" has-sub-menu">
        <a routerLink="/home/moduleActualite/ConsulterActualite">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div><span>Actualités <strong class="badge badge-danger">New</strong></span></a>
        <div class="sub-menu-w">
          <div class="sub-menu-icon"><i class="os-icon os-icon-package"></i></div>
        </div>
      </li>

      <br>



      <li class="has-sub-menu">
        <a routerLink="/home/moduleProf/consulterCoursProf">
          <div class="icon-w">
            <div class="os-icon os-icon-file-text"></div>
          </div><span>Gérer Cours</span></a>
      </li>
    </ul>
  <!--------------------
START - Team Members
-------------------->
  <!--------------------
END - TeamMembers right sidebar
-------------------->

  <div class="side-menu-magic">
    <h5>Poly-Forum</h5>
    <p>Utilisateurs : <span>{{CountStudentsVar.length + CountProfVar.length}}</span></p>
    <p>Professeurs : <span>{{CountProfVar.length}}</span></p>
    <p>Etudiants : <span>{{CountStudentsVar.length}}</span></p>
    <p>CopyRights reserved 2019</p>

  </div>
  <div class="floated-colors-btn second-floated-btn">
    <div class="os-toggler-w">
      <div class="os-toggler-i">
        <div class="os-toggler-pill"></div>
      </div>
    </div><span>Dark </span><span>Colors</span></div>
  <div class="floated-customizer-btn third-floated-btn">
    <div class="icon-w"><i class="os-icon os-icon-ui-46"></i></div><span>Customizer</span></div>
  <div class="floated-customizer-panel">
    <div class="fcp-content">
      <div class="close-customizer-btn"><i class="os-icon os-icon-x"></i></div>
      <div class="fcp-group">
        <div class="fcp-group-header">Menu Settings</div>
        <div class="fcp-group-contents">
          <div class="fcp-field">
            <label>Menu Position</label>
            <select class="menu-position-selector">
              <option value="left">Left</option>
              <option value="right">Right</option>
              <option value="top">Top</option>
            </select>
          </div>
          <div class="fcp-field">
            <label>Menu Style</label>
            <select class="menu-layout-selector">
              <option value="compact">Compact</option>
              <option value="full">Full</option>
              <option value="mini">Mini</option>
            </select>
          </div>
          <div class="fcp-field with-image-selector-w">
            <label >With Image</label>
            <select class="with-image-selector">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="fcp-field">
            <label >Menu Color</label>
            <div class="fcp-colors menu-color-selector">
              <div class="color-selector menu-color-selector color-bright selected"></div>
              <div class="color-selector menu-color-selector color-dark"></div>
              <div class="color-selector menu-color-selector color-light"></div>
              <div class="color-selector menu-color-selector color-transparent"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fcp-group">
        <div class="fcp-group-header">Sub Menu</div>
        <div class="fcp-group-contents">
          <div class="fcp-field">
            <label >Sub Menu Style</label>
            <select class="sub-menu-style-selector">
              <option value="flyout">Flyout</option>
              <option value="inside">Inside/Click</option>
              <option value="over">Over</option>
            </select>
          </div>
          <div class="fcp-field">
            <label >Sub Menu Color</label>
            <div class="fcp-colors">
              <div class="color-selector sub-menu-color-selector color-bright selected"></div>
              <div class="color-selector sub-menu-color-selector color-dark"></div>
              <div class="color-selector sub-menu-color-selector color-light"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="fcp-group">
        <div class="fcp-group-header">Other Settings</div>
        <div class="fcp-group-contents">
          <div class="fcp-field">
            <label >Full Screen?</label>
            <select class="full-screen-selector">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="fcp-field">
            <label >Show Top Bar</label>
            <select class="top-bar-visibility-selector">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="fcp-field">
            <label >Above Menu?</label>
            <select class="top-bar-above-menu-selector">
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
          </div>
          <div class="fcp-field">
            <label >Top Bar Color</label>
            <div class="fcp-colors">
              <div class="color-selector top-bar-color-selector color-bright selected"></div>
              <div class="color-selector top-bar-color-selector color-dark"></div>
              <div class="color-selector top-bar-color-selector color-light"></div>
              <div class="color-selector top-bar-color-selector color-transparent"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--------------------
  END - Demo Customizer
  -------------------->
  <!--------------------
  START - Chat Popup Box
  -------------------->
  <!--------------------
  END - Demo Customizer
  -------------------->
  <!--------------------
START - Chat Popup Box
-------------------->
  <div class="floated-chat-btn"><i class="os-icon os-icon-mail-07"></i><span>Discussion</span></div>
  <div class="floated-chat-w" >
    <div class="floated-chat-i">
      <div class="chat-close"><i class="os-icon os-icon-close"></i></div>
      <div class="chat-head">
        <div class="user-w with-status status-green">
          <div class="user-avatar-w">
            <div class="user-avatar"><img alt="" src="assets/img/avatar1.jpg"></div>
          </div>
          <div class="user-name">
            <h6 class="user-title">Discussion</h6>
          </div>
        </div>
      </div>
      <div class="content-panel" >
        <div class="content-panel-close"><i class="os-icon os-icon-close"></i></div>

        <div class="element-wrapper">
          <h6 class="element-header">Personnes en ligne</h6>
          <div class="element-box-tp">

            <div class="users-list-w" id="myMenu2">
              <div class="user-w with-status status-green">
                <div class="user-avatar-w">
                  <div class="user-avatar"><img alt="" src="assets/img/avatar2.jpg"></div>
                </div>
                <div class="user-name">
                  <h6 class="user-title">John Mayers</h6>
                  <div class="user-role">Account Manager</div>
                </div>

              </div>
              <div class="user-w with-status status-green">
                <div class="user-avatar-w">
                  <div class="user-avatar"><img alt="" src="assets/img/avatar3.jpg"></div>
                </div>
                <div class="user-name">
                  <h6 class="user-title">John Mayers</h6>
                  <div class="user-role">Account Manager</div>
                </div>

              </div>
              <div class="user-w with-status status-green">
                <div class="user-avatar-w">
                  <div class="user-avatar"><img alt="" src="assets/img/avatar4.jpg"></div>
                </div>
                <div class="user-name">
                  <h6 class="user-title">John Mayers</h6>
                  <div class="user-role">Account Manager</div>
                </div>

              </div>
              <div class="user-w with-status status-green">
                <div class="user-avatar-w">
                  <div class="user-avatar"><img alt="" src="assets/img/avatar5.jpg"></div>
                </div>
                <div class="user-name">
                  <h6 class="user-title">John Mayers</h6>
                  <div class="user-role">Account Manager</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-controls">
        <input class="message-input" onkeyup="myFunction2()" placeholder="Search.." type="text" id="mySearch2">
      </div>
    </div>
  </div>
  <!--------------------
END - Chat Popup Box
-------------------->
</div>

</div>
