<div class="">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="auth-box-w">
    <div class="logo-w">
      <img alt="" src="/assets/img/logo-big.png">
    </div>
    <h4 class="auth-header">Mot de passe oublié !</h4>
    <form action="#">
      <div class="form-group">
        <label for="">E-Mail</label>
        <input class="form-control" placeholder="Entez votre E-Mail" type="text">
        <div class="pre-icon os-icon os-icon-user-male-circle"></div>
      </div>
      <div class="buttons-w">
        <button type="reset" class="btn btn-danger">Annuler</button>
        <button type="submit" class="btn text-muted text-center btn-success"><b><span
          style="color: white; ">Recupérer mot de passe</span></b></button>

        <br><br>
        <div >
          <a routerLink=""><span style="color: green; ">Retour à la page d'authentification</span></a>
        </div>

      </div>
    </form>
  </div>
</div>
