<form action="" method="POST" >
  <table align="left" style="width: 50%; ">

    <tr>
      <td align="left"><img src="assets/img/avatar2.jpg" hight="50" width="50" class="img-circle">&nbsp; RADHI MIGHRI<br> 09-04-2019 21:45
        <div  >Offre Speciale Pour les Gamers les plus doue ! Profitez de la Reduction Exclusive sur le Pc Gaming DELL G3 3579, dote d'un processeur Intel Core I7-8750H, une carte GRAPHIQUE NVIDIA GTX 1050Ti 4Go et une capacite de stockage de 1To + 128Go SSD. Disponible dans les magasins WIKI.</div>
      </td>
    </tr>
    <tr>
      <td><img src="assets/img/dd.jpg" hight="500" width="500"></td>
    </tr>
    <tr>
      <td align="center"><button type="button" class="btn btn-primary btn-sm">Télécharger</button></td>
    </tr>
  </table>
</form>
